// Define variables for your color scheme

// For example:
$red: #FD1015;
// $blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// $white: #E8E8E8;
$pink: #f49aa3;
// $pinkhover: #d64f5c;
$blue: #4b8ec3;
// // $orange: #F7934C;

// $primary: #F7934C;
// $text: #5F6A6D;

$white: #d9d4d4;
$black: #1F1F1F;
$primary: #FD9E72;
$secondary: #4b8ec3;
