// Specific CSS for your home-page

li, a {
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: $secondary;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 10%;
  background-color: #5F6A6D;
  h2 {
    cursor: pointer;
    margin-right: auto;
    font-size: 20px;
  }
}

.nav-links {
  list-style: none;
  li {
    display: inline-block;
    padding: 0px 20px;
  }
  li:nth-child(1) {
    padding: 0 20px 0 0;
  }
  li a {
    transition: all 0.3s ease 0s;
  }
  li a:hover {
    color: $blue;
  }
}

.background-white {
  background-color: $white;
}

.background-grey {
  background-color: #5F6A6D;
}

.container {
  margin: 0 auto;
  width: 80%;
}

#about {
  // margin-top: 60px;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  img {
    object-fit: contain;
  }
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
  h1 {
    border-top: solid $pink;
    padding-top: 10px;
    width: fit-content;
    font-size: 50px;
    color: $gray;
    margin-bottom: 5px;
  }
  p {
    border-top: solid $pink;
    border-bottom: solid $pink;
    padding-bottom: 10px;
    font-size: 40px;
    color: $gray;
  }
}

.images {
  max-width: 200px;
}

#projects {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-row {
  display: flex;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 300px;
  height: auto;
  border: 2px solid black;
  padding: 16px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: $gray;
  img {
    width: 250px;
    object-fit: contain;
  }
  a {
    text-decoration: none;
    color: $gray;
  }
}
