// Specific CSS for your home-page

li, a {
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: $primary;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 10%;
  background-color: $black;
  position: fixed;
  width: 100vw;
  top: 0;
  transition: top 0.3s;
  // width: 100vw;
  // h2 {
  //   cursor: pointer;
  //   margin-right: auto;
  //   font-size: 20px;
  // }
}

.nav-links {
  list-style: none;
  padding-left: 12px;
  li {
    display: inline-block;
    padding: 0px 20px;
  }
  li:nth-child(1) {
    padding: 0 20px 0 0;
  }
  li a {
    transition: all 0.3s ease 0s;
  }
  li a:hover {
    color: $secondary;
  }
}

.background {
  background-color: $black;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.intro {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  img {
    object-fit: contain;
  }
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
  h1 {
    // border-bottom: solid $blue;
    padding-top: 10px;
    // width: fit-content;
    font-size: 50px;
    color: $white;
    padding-bottom: 10px;
  }
  h3 {
    padding-bottom: 10px;
    font-size: 25px;
    color: $blue;
  }
  p{
    // border-top: solid $blue;
    // border-bottom: solid $blue;
    padding-bottom: 10px;
    font-size: 25px;
    color: $white;
  }
}

.images {
  max-width: 200px;
}

#about {
  color: $white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  h2 {
    margin-bottom: 30px;
  }
  h6 {
    text-align: left;
  }
}

#projects {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  h2 {
    color: $white;
    margin-bottom: 30px;
    text-align: center;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.project-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  // width: 300px;
  height: auto;
  // border: 2px solid $blue;
  box-shadow: 0px 1px 5px $gray;
  // background: $blue;
  padding: 16px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: $white;
  transition: 0.3s;
  // &:hover {
  //   transform: scale(1.1);
  // }
  img {
    width: 250px;
    object-fit: contain;
  }
  a {
    text-decoration: none;
    color: $gray;
  }
}

#contact {
  color: $white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin-bottom: 30px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    list-style: none;
  }
  li a{
    cursor: pointer;
    transition: 0.3s ease 0s;
  }
  li a:hover {
    color: $secondary;
  }
}
