// Specific CSS for your home-page

.background-white {
  background-color: $white;
}

.top-nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  // flex-direction: row;
  // align-items: center;
  justify-content: space-between;
  // // position: fixed;
  background-color: #5F6A6D;
  // margin-bottom: 40px;
  // padding: 5px;
  a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: $pink;
  }
}

.container {
  margin: 0 auto;
  width: 80%;
}

#about {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  img {
    object-fit: contain;
  }
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $pink;
  h1 {
    border-top: solid #98B6B1;
    border-bottom: solid #98B6B1;
    padding-top: 10px;
  }
  p {
    border-bottom: solid #98B6B1;
    padding-bottom: 10px;
  }
}

.images {
  max-width: 200px;
}

#projects {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-row {
  display: flex;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 300px;
  height: auto;
  border: 2px solid black;
  padding: 16px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: $pink;
  img {
    width: 250px;
    object-fit: contain;
  }
  a {
    text-decoration: none;
    color: $pink;
  }
}
