
<div class="top-nav">
  <a href="#about">about</a>
  <a href="#projects">projects</a>
  <a href="#">contact</a>
</div>

<div class="container">
  <div id="about">
    <div class="title">
      <h1>Daniel Burgess</h1>
      <p>Full-Stack Web developer based in Adelaide, South Australia.</p>
      <p>I like to build minimalistic, functional webpages with a focus on user experience.</p>
    </div>

    <img class="images" src="https://res.cloudinary.com/drit3xkn8/image/upload/v1670568144/Subject_2_ug8dop.png" alt="cut-out of Daniel Burgess">
  </div>

  <div id="projects">
    <h2>projects</h2>
    <div class="cards-row">
      <div class="project-card">
        <a href="http://www.deepwork.pro/">
          <h3>Deepwork.</h3>
          <div>
            <img src="https://res.cloudinary.com/drit3xkn8/image/upload/v1670642792/Screen_Shot_2022-12-10_at_1.39.37_pm_vdyxda.png">
          </div>
        </a>
        <div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, fugiat. Officia voluptates ullam eum non.</p>
        </div>
      </div>
      <div class="project-card">
        <a href="http://www.deepwork.pro/">
          <h3>Deepwork.</h3>
          <div>
            <img src="https://res.cloudinary.com/drit3xkn8/image/upload/v1670642792/Screen_Shot_2022-12-10_at_1.39.37_pm_vdyxda.png">
          </div>
        </a>
        <div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, fugiat. Officia voluptates ullam eum non.</p>
        </div>
      </div>
      <div class="project-card">
        <a href="http://www.deepwork.pro/">
          <h3>Deepwork.</h3>
          <div>
            <img src="https://res.cloudinary.com/drit3xkn8/image/upload/v1670642792/Screen_Shot_2022-12-10_at_1.39.37_pm_vdyxda.png">
          </div>
        </a>
        <div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, fugiat. Officia voluptates ullam eum non.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="contact">

  </div>
</div>
