<header>
  <nav>
    <ul class="nav-links headings">
      <li><a href="#about">About Me</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="DanielBurgessResume1.pdf" target="_blank">Resume</a></li>
    </ul>
  </nav>
  <nav>
    <ul class="nav-links">
      <li><a href="https://www.linkedin.com/in/daniel-burgess-668176186/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href="https://github.com/DBurgess93" target="_blank"><i class="fa-brands fa-github"></i></a></li>
      <li><a href="mailto:dan-burgess@hotmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
    </ul>
  </nav>
</header>

<div class="container">
    <div id="title">
      <h1>Daniel Burgess</h1>
      <h3>Full-Stack Web developer </h3>
      <p>I like to build minimalistic, functional webpages with a focus on user experience.</p>
      <a href="https://github.com/DBurgess93/portfolio" target="_blank">👉 React.JS portfolio in progress 👈</a>
    </div>

  <div id="about">
    <h2>About Me</h2>
    <p>
      Skilled Full-Stack Developer with a passion for coding, initially as a hobby with The Odin Project, escalating
      to completing an intense Web-Development bootcamp with <a href="https://www.lewagon.com/" target="_blank">Le Wagon</a>.
      Committed to a lifetime of learning, my time now is spent expanding my knowledge in ReactJS, Typescript, design using Figma, and continually building projects to improve on all aspects of Full-Stack Development. <br></b>
      Location: Adelaide, South Australia
    </p>
    <div class="tech-stack">
      <ul>
        <li>Ruby On Rails</li>
        <li>Javascript</li>
        <li>ReactJS</li>
        <li>SCSS</li>
        <li>PostgreSQL</li>
        <li>Figma</li>
      </ul>
    </div>
  </div>

  <div id="projects">
    <h2>Projects</h2>
    <div class="cards">
      <a href="https://deepwork-official.herokuapp.com/" target="-blank">
        <div class="project-card">
          <img src="https://res.cloudinary.com/drit3xkn8/image/upload/v1670642792/Screen_Shot_2022-12-10_at_1.39.37_pm_vdyxda.png">
          <div class="card-info">
            <h3>Deepwork.</h3>
            <p> <strong>A web-app</strong> Designed to help students track how they spend their study time, analyze their data for a better understanding
            of their studying habits, and motivate them to reach a state of deep focus. </p>
            <p> <strong>Design:</strong> Sticking to minimalistic principles and a look that suggests 'knowledge lives here', while adding some visually pleasing creativity.</p>
            <p> <strong>Tech-stack</strong> Ruby on Rails, SCSS, HTML, JavaScript, PostgreSQL, Figma, *hosted with Heroku*.</p>
          </div>
        </div>
      </a>
      <a href="https://defit-official.herokuapp.com/" target="-blank">
        <div class="project-card">
          <img src="https://res.cloudinary.com/drit3xkn8/image/upload/v1671001254/Screen_Shot_2022-12-14_at_5.03.16_pm_d0jkda.png">
          <div class="card-info">
            <h3>De-fit.</h3>
            <p><strong>A web-app</strong> Built to help bring together those who are in need of a fitness space and those who have one to share.</p>
            <p><strong>Design:</strong> Going for a darker theme, utilising neon-like colors to pierce through and give a fitness-feel to the app.
            another minimalistic styled site to keep things simple for the users.</p>
            <p> <strong>Tech-stack</strong> Ruby on Rails, SCSS, HTML, JavaScript, PostgreSQL, Figma, *hosted with Heroku*.</p>
          </div>
        </div>
      </a>
      <a href="https://github.com/DBurgess93/budget-planner" target="-blank">
        <div class="project-card">
          <video src="https://res.cloudinary.com/drit3xkn8/video/upload/v1687228549/budgetapp_qtbyvn.mov" type="video/mp4" controls ></video >
          <div class="card-info">
            <h3>Budget Planner</h3>
            <p> <strong>A ReactJS-app</strong> Built as an interactive tool to help track expenses without the boring look of an Excel spreadsheet.
            Just type in the costs, select the payment frequency and an overview of your expenses will be displayed. </p>
            <p> <strong>Design:</strong> Going for a basic look that is easy on the eyes, keeping the layout un-cluttered as finances can get messy.</p>
            <p> <strong>Tech-stack</strong> ReactJS, JavaScript, HTML, SCSS, *not hosted*.</p>
          </div>
        </div>
      </a>
      <a href="https://github.com/DBurgess93/social-media-app" target="-blank">
        <div class="project-card">
          <video src="https://res.cloudinary.com/drit3xkn8/video/upload/v1687236938/social_media_app_zuxris.mov" type="video/mp4" controls ></video >
          <div class="card-info">
            <h3>Social Media App</h3>
            <p> <strong>A ReactJS-app</strong> No ground breaking ideas for this one, a basic social-media app that I created as a building block while learning React.
            This also gave a great introduction to storing on a cloud-hosted database (Firebase), as well as learning the basics of TypeScript. </p>
            <p> <strong>Design:</strong> Very simple as the primary focus of this project was to learn React, Firebase, and TypeScript.</p>
            <p> <strong>Tech-stack</strong> ReactJS, JaveScript, Typescript, Firebase, CSS, HTML, JavaScript, *not hosted*.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div id="contact">
    <h2>Contact</h2>
    <p>Looking for new opportunities to flex and build upon my programming skills, so feel free to get in touch!</p>
    <a href="mailto:dan-burgess@hotmail.com" class="primary-button">Say Hello 👋</a>
  </div>
  <a href="#title" class="secondary-button">Top</a>
  <div class="footer">
    <p>Designed and Built by Daniel Burgess</p>
  </div>
</div>
