<header>
  <nav>
    <ul class="nav-links headings">
      <li><a href="#about">About Me</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="dbresume1.pdf" target="_blank">Resume</a></li>
    </ul>
  </nav>
  <nav>
    <ul class="nav-links">
      <li><a href="https://www.linkedin.com/in/daniel-burgess-668176186/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href="https://github.com/DBurgess93" target="_blank"><i class="fa-brands fa-github"></i></a></li>
      <li><a href="mailto:dan-burgess@hotmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
    </ul>
  </nav>
</header>

<div class="container">
  <%# <div id="intro"> %>
    <div id="title">
      <h1>Daniel Burgess</h1>
      <h3>Full-Stack Web developer </p>
      <p>I like to build minimalistic, functional webpages with a focus on user experience.</p>
    </div>
  <%# </div> %>

  <div id="about">
    <h2>About Me</h2>
    <p>
    After persuing a few different careers from Sales representative to Cellarhand, a week off work with covid
    allowed me to spend all my time on my new "hobby" coding. Initially starting The Odin Project, this escilated
    drastically and I found myself jumping in head first and completing an intense Web-Development bootcamp with <a href="https://www.lewagon.com/" target="_blank">Le Wagon</a>.
    My time is now spent working on various projects and continiously finding ways to improve in my <span>hobby</span> *obsession. <br><br>
    Location: Adelaide, South Australia
    </p>
    <div class="tech-stack">
      <ul>
        <li>Ruby On Rails</li>
        <li>Javascript</li>
        <li>Stimulus</li>
        <li>SCSS</li>
        <li>PostgreSQL</li>
        <li>Figma</li>
      </ul>
    </div>
  </div>

  <div id="projects">
    <h2>Projects</h2>
    <div class="cards">
      <a href="http://www.deepwork.pro/" target="-blank">
        <div class="project-card">
          <img src="https://res.cloudinary.com/drit3xkn8/image/upload/v1670642792/Screen_Shot_2022-12-10_at_1.39.37_pm_vdyxda.png">
          <div class="card-info">
            <h3>Deepwork.</h3>
            <p> <strong>A web-app</strong> designed to help students track how they spend their study time, analize their data for a better understanding
            of their studying habits, and motivate them to reach a state of deep focus. </p>
            <p> <strong>Design:</strong> Sticking to minimalistic principles and a look that suggests 'knowledge lives here', while adding some visually pleasing creativity
            </p>
          </div>
        </div>
      </a>
      <a href="https://defit.herokuapp.com/" target="-blank">
        <div class="project-card">
          <img src="https://res.cloudinary.com/drit3xkn8/image/upload/v1671001254/Screen_Shot_2022-12-14_at_5.03.16_pm_d0jkda.png">
          <div class="card-info">
            <h3>De-fit.</h3>
            <p><strong>A web-app</strong> built to help bring together those who are in need of a fitness space and those who have one to share.</p>
            <p><strong>Design:</strong> Going for a darker theme, utilizing neon like colors to pierce through and give a fitness-feel to the app.
            another minimalistic styled site to keep things simple for the users.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div id="contact">
    <h2>Contact</h2>
    <p>I'm always looking for new opportunities, and my inbox is always open, so feel free to get in touch!</p>
    <a href="mailto:dan-burgess@hotmail.com" class="primary-button">Say Hello 👋</a>
  </div>
  <a href="#title" class="secondary-button">Top</a>
  <div class="footer">
    <p>Designed and Built by Daniel Burgess</p>
  </div>
</div>
