
<header>
  <nav>
    <ul class="nav-links">
      <li><a href="#about">about me</a></li>
      <li><a href="#projects">my projects</a></li>
      <li><a href="#contact">contact</a></li>
    </ul>
  </nav>
  <nav>
    <ul class="nav-links">
      <li><a href="https://www.linkedin.com/in/daniel-burgess-668176186/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href="https://github.com/DBurgess93" target="_blank"><i class="fa-brands fa-github"></i></a></li>
      <li><a href="mailto:dan-burgess@hotmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
    </ul>
  </nav>
</header>

<div class="container">
  <div class="intro">
    <div class="title">
      <h1>Daniel Burgess</h1>
      <h3>Full-Stack Web developer </p>
      <p>I like to build minimalistic, functional webpages with a focus on user experience.</p>
    </div>

    <%# <img class="images" src="https://res.cloudinary.com/drit3xkn8/image/upload/v1670568144/Subject_2_ug8dop.png" alt="cut-out of Daniel Burgess"> %>
  </div>

  <div id="about">
    <h2>about me</h2>
    <p>
    After persuing a few different careers from Sales representative to Cellarhand, a week off work with covid
    allowed me to spend all my time on my new "hobby" coding. Initially starting The Odin Project, this escilated
    drastically and I found myself jumping in head first and completing an intense Web-Development bootcamp with <a href="https://www.lewagon.com/" target="_blank">Le Wagon</a>.
    My time is now spent working on various projects and continiously finding ways to improve my coding skills. <br><br>
    Location: Adelaide, South Australia
    </p>
  </div>

  <div id="projects">
    <h2>Projects</h2>
    <div class="cards">
      <div class="project-card">
        <a href="http://www.deepwork.pro/" target="-blank">
          <h3>Deepwork.</h3>
          <img src="https://res.cloudinary.com/drit3xkn8/image/upload/v1670642792/Screen_Shot_2022-12-10_at_1.39.37_pm_vdyxda.png">
        </a>
        <div>
          <p>A web-app designed for students to track how their time is spent, analize their data for a better understanding
          of their study habits, and help them reach a state of deep focus.<br>
          Design: Sticking to minimalistic principles and a look that suggests 'knowledge lives here', while adding some visually pleasing creativity </p>
        </div>
        <ul class="stack">
          <li>Ruby on Rails</li>
          <li>Javascript</li>
          <li>Stimulus</li>
          <li>Scss</li>
        </ul>
      </div>
      <div class="project-card">
        <a href="https://defit.herokuapp.com/" target="-blank">
          <h3>De-fit.</h3>
          <img src="https://res.cloudinary.com/drit3xkn8/image/upload/v1671001254/Screen_Shot_2022-12-14_at_5.03.16_pm_d0jkda.png">
        </a>
        <div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, fugiat. Officia voluptates ullam eum non.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="contact">
    <h2>Contact</h2>
    <div class="contact-logos">
      <h6><a href="https://www.linkedin.com/in/daniel-burgess-668176186/" target="_blank"><i class="fa-brands fa-linkedin logo-larg"></i></a></h6>
      <h6><a href="https://github.com/DBurgess93" target="_blank"><i class="fa-brands fa-github logo-large"></i></a></h6>
      <h6><a href="mailto:dan-burgess@hotmail.com" target="_blank"><i class="fa-solid fa-envelope logo-large"></i></a></h6>
    </div>
  </div>
</div>
