
<div class="top-nav">
  <p>about</p>
  <p>contact me</p>
  <p>projects</p>
</div>

<div class="banner">
  <div class="title">
    <h1>Daniel Burgess</h1>
    <p>big old bag of dog shit and some shiznit about me to fill in the gap</p>
  </div>

  <img class="images" src="https://res.cloudinary.com/drit3xkn8/image/upload/v1670568144/Subject_2_ug8dop.png" alt="cut-out of Daniel Burgess">
</div>
